@import url("./widget/calendar.css");
@import url("./widget/scale.css");
@import url("./widget/toggle-button.css");
@import url("./widget/button.css");
@import url("./widget/workspaces.css");

* {
    background: none;
    color: white;
    font-family: FiaCodeNerdFontMono;
    font-size: 16px;
    min-height: 0;
    min-width: 0;
}

image {
    border: none;
    box-shadow: none;
    outline: none;
    -gtk-icon-shadow: none;
}

.round-right {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.round-left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.round {
    border-radius: 10px;
}

.bg {
    background: #101010;
    border: none;
}

.cell {
    background: #202020;
    border: none;
    padding: 5px;
    margin: 15px;
}
.cell-button {
    background: #303030;
    border: none;
    padding: 5px;
    margin: 15px;
    min-width: 50px;
    min-height: 50px;
}
.cell-button label {
    font-size: 32px;
}

.margin-sides {
    margin: 0 5px;
}

.margin {
    margin: 5px 5px;
}
