button {
    border: none;
    box-shadow: none;
    text-shadow: none;
    margin: 0;
}
button:hover label,
button:hover image {
    color: #ff5555;
}
button:active label,
button:active image {
    color: #ffaaaa;
}

