scale {
    min-width: 300px;
}
scale trough {
    outline: none;
    border: none;
    background: #303030;
}
scale slider {
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
}
scale highlight {
    min-height: 10px;
    background: #922826;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
}

